<div id="<%= dom_id pedido %>">
  <p>
    <strong>Nome  cliente:</strong>
    <%= pedido.nome__cliente %>
  </p>

  <p>
    <strong>Data pedido:</strong>
    <%= pedido.data_pedido %>
  </p>

  <p>
    <strong>Status pedido:</strong>
    <%= pedido.status_pedido %>
  </p>

  <p>
    <strong>Forma pagamento:</strong>
    <%= pedido.forma_pagamento %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= pedido.valor_total %>
  </p>

</div>
